ALLOW_NEGATIVE_STOCK=
APP_MODE=
COMPANY_ADDRESS=
COMPANY_EMAIL=
COMPANY_NAME=
COMPANY_PHONE=
COMPANY_TAX_CODE=
DATABASE_URL=
FLASK_APP=
FLASK_ENV=
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_OAUTH_REDIRECT_URI=
GUNICORN_THREADS=
GUNICORN_TIMEOUT=
JWT_SECRET_KEY=
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=
POSTGRES_DB=
POSTGRES_PASSWORD=
POSTGRES_USER=
PREFERRED_URL_SCHEME=
REDIS_PASSWORD=
SECRET_KEY=
SESSION_COOKIE_SAMESITE=
SESSION_COOKIE_SECURE=
SESSION_TIMEOUT_MINUTES=
SHOP_CORS_ORIGINS=
USE_PROXY_FIX=
WEB_CONCURRENCY=