[python: **.py]

[jinja2: **/templates/**.html]
# extensions=jinja2.ext.autoescape,jinja2.ext.with_
# Nếu dùng Flask, hãy dùng cấu hình này:
extensions=jinja2.ext.do,jinja2.ext.loopcontrols,jinja2.ext.i18n
