Flask
Flask-SQLAlchemy
Flask-Login
Flask-WTF
Flask-Migrate>=4.0
Flask-Babel
psycopg2-binary
pandas
openpyxl
reportlab
python-dotenv
SQLAlchemy
Werkzeug
WTForms
Pillow
xlsxwriter
email-validator
WeasyPrint
gunicorn
flask-caching
Redis
flask-jwt-extended
waitress
pystray
Flask-Cors
